@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
 box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 150px;
}

.header h2{
    font-size: 50px;
    color: #fff;
    margin: 0 0 10px 0;
}

.header input{
    margin: 0;
    padding: 15px 50px;
    border: 0;
    border-radius: 5px;
}

.header input:focus{
    outline: 0;
}



.newsList{
    margin: 0 100px;
}

.newsList li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.newsList ul{
    margin: auto;

}